
@{
    ViewBag.Title = "AddReturnItem";
}

@section breadcrumb {
    <li>
        @Html.ActionLink("Inventory Dashboard", "Index",
                    new { controller = "INV_ItemIssueReturn" })
    </li>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<div class="col-md-12">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Return tab
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-horizontal">
                <div class="form-body">

                    <div class="form-group">

                        <label class="control-label col-md-2">Issue Number</label>
                        <div class="col-md-2">
                            <input id="txtIssueNumber" type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <button id="btnIssueCheck" class="form-control">Submit</button>
                        </div>
                    </div>
                    @*<div class="form-group">

                            <label class="control-label col-md-2">User</label>
                            <div class="col-md-2">
                                <select id="ddlUserList" class="form-control"></select>
                            </div>
                        </div>*@
                    <div class="form-group" id="radioButtonDiv" hidden>
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-4 radio-list">
                            <label class="radio-inline">
                                <input type="radio" name="rbtnItem" value="New">New
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rbtnItem" value="Rejected">Rejected
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rbtnItem" value="Extra">Extra
                            </label>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="control-label col-md-2">Item</label>
                            <div class="col-md-4 radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="rbtnItem" value="True">Main Item
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="rbtnItem" value="False">Sub Item
                                </label>
                            </div>
                        </div>*@
                    <div class="form-group" id="divDDLItemList" hidden>

                        <label class="control-label col-md-2">Item</label>
                        <div class="col-md-2">
                            <select id="ddlItemList" class="form-control"></select>
                        </div>

                    </div>
                    <div class="form-group" id="divDDLItemQuantity" hidden>

                        <label class="control-label col-md-2">Quantity</label>
                        <div class="col-md-2">
                            <input id="txtReturnItemQuantity" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group" id="divDDLItemRemarks" hidden>

                        <label class="control-label col-md-2">Remarks</label>

                        <div class="col-md-2">
                            <input id="txtReturnItemRemarks" type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <button id="btnReturnItemAdd" class="form-control">Add</button>
                        </div>
                    </div>
                    <div class="form-group" id="divReturnAddItem" hidden>
                        <label class="control-label col-md-2">Item List</label>
                        <div class="col-md-10">
                            <table class="table table-bordered table-responsive" id="tableSubItem">
                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Item Name</th>
                                        <th>Quantity</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody class="tbodyReturnAddItemList" id="tbodyReturnAddItemList"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">

                        
                        <div class="col-md-2">
                            <button id="btnFinalSubmit" class="form-control">Final Submit</button>
                        </div>
                    </div>
                    <div class="form-group" id="tableMainItem" hidden>
                        <label class="control-label col-md-2">Item List</label>
                        <div class="col-md-2">
                            <input id="txtReturnItemName" type="text" class="form-control" readonly />
                        </div>

                        <label class="control-label col-md-2">Quantity</label>
                        <div class="col-md-2">
                            <input id="txtReturnQuantity" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group" id="divSubItem" hidden>
                        <label class="control-label col-md-2">Item List</label>
                        <div class="col-md-10">
                            <table class="table table-bordered table-responsive" id="tableSubItem">
                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Item Name</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody class="tbodySubItem" id="tbodySubItem"></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group" id="btnMainItem" hidden>
                        <div class="col-md-2">
                            <button id="btnSaveMainItem" class="form-control">MainItem Save</button>
                        </div>
                    </div>
                    <div class="form-group" id="btnSubItem" hidden>
                        <div class="col-md-2">
                            <button id="btnSaveSubItem" class="form-control">SubItem Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var addReturnListArray = [];
    $(document).ready(function () {
        
        RetrieveitemList();
        RetrieveUserList();

        //11-9-2018

        $("#btnIssueCheck").click(function () {
            var issuenumber = $('#txtIssueNumber').val();
            //alert("The paragraph was clicked." + issuenumber);
            checkIssueNumber(issuenumber);
        });
        
        $('input:radio[name=rbtnItem]').change(function () {
             
            if ($('input[name=rbtnItem]:checked').val() == "New") {
                $('#divDDLItemList').show();
                $('#divDDLItemRemarks').show();
                $('#divDDLItemQuantity').show();
                $('#tableMainItem').show();

            }
            else if ($('input[name=rbtnItem]:checked').val() == "Rejected") {
                $('#divDDLItemList').hide();
                $('#divDDLItemRemarks').hide();
                $('#divDDLItemQuantity').hide();
                $('#tableMainItem').hide();

            }
            else if ($('input[name=rbtnItem]:checked').val() == "Extra") {
                $('#divDDLItemList').hide();
                $('#divDDLItemRemarks').hide();
                $('#divDDLItemQuantity').hide();
                $('#tableMainItem').hide();

            }
        });



        $("#btnReturnItemAdd").click(function () {
             
            var itemid = $('#ddlItemList').val();
            var quantity = $('#txtReturnItemQuantity').val();
            var remarks = $('#txtReturnItemRemarks').val();
            var issueNumber = $('#txtIssueNumber').val();
            $('#divReturnAddItem').show();
            addReturnListArray.push({

                ItemID: itemid,
                Quantity: quantity,
                Remarks: remarks,
                IssueNumber: issueNumber
            });
            var html = '';
            html += '<tr id="">';
            //html += '<td><input type="checkbox" name="chkForAssmeble" value="' + result[key].SubItemID + '"></td>';
            //html += '<td>' + result[key].ItemName + '</td>';
            html += '<td>select</td>';
            html += '<td>' +$("#ddlItemList option[value='"+itemid+"']").text()  +'</td>';
            html += '<td>' + quantity + '</td>';
            html += '<td>' + remarks + '</td>';
            //html += '<td><input id="quantity' + i + '" type="text" class="form-control" value="' + result[key].Qunatity + '"/></td>';
            html += '</tr>';

            $('#tbodyReturnAddItemList').append(html);
        });


        $("#btnFinalSubmit").click(function () {
            var itemList = {
                iNV_StockHistory_List: addReturnListArray
            };

            $.ajax({
                url: "/INV_ItemIssueReturn/RertunNewItem",
                data: JSON.stringify(itemList),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    location.href = '@Url.Action("Return", "INV_ItemIssueReturn")';
                   
                },
                error: function (errormessage) {


                }
            });
        });
        
        //assign radio button change event
        $('input:radio[name=assign]').change(function () {
            if ($('input[name=assign]:checked').val() == "True") {

                GetForIssueItem();
                $('#tableForUse').show();
                $('#btnForUSer').show();
                $('#divForAssmeble').hide();
                $('#btnForAssmeble').hide();



            }
            else if ($('input[name=assign]:checked').val() == "False") {

                GetForIssueItem();
                $('#tableForUse').hide();
                $('#btnForUSer').hide();
                $('#divForAssmeble').show();
                $('#btnForAssmeble').show();

            } else {

                $('#tableForUse').hide();
                $('#btnForUSer').hide();
                $('#divForAssmeble').hide();
                $('#btnForAssmeble').hide();
            }
        });

        //rbtnItem radio button change event
        $('input:radio[name=rbtnItem]').change(function () {
            if ($('input[name=rbtnItem]:checked').val() == "True") {

                GetForReturnItem();
                $('#tableMainItem').show();
                $('#btnMainItem').show();
                $('#divSubItem').hide();
                $('#btnSubItem').hide();



            }
            else if ($('input[name=rbtnItem]:checked').val() == "False") {

                GetForReturnItem();
                $('#tableMainItem').hide();
                $('#btnMainItem').hide();
                $('#divSubItem').show();
                $('#btnSubItem').show();

            } else {

                $('#tableMainItem').hide();
                $('#btnMainItem').hide();
                $('#divSubItem').hide();
                $('#btnSubItem').hide();
            }
        });

        //btnSaveForUse click event
        $("#btnSaveForUse").click(function () {

            SaveItemForUse();

        });
        //btnSaveForAssmeble click event
        $("#btnSaveForAssmeble").click(function () {

            SaveItemForAssmeble();

        });


        //btnSaveMainItem click event
        $("#btnSaveMainItem").click(function () {

            SaveMainItem();

        });
        //btnSaveSubItem click event
        $("#btnSaveSubItem").click(function () {

            SaveSubItem();

        });
    });

    function checkIssueNumber(issuenumber) {
        $.ajax({
            url: "/INV_ItemIssueReturn/CheckIssueNumber",
            data: JSON.stringify({ "issuenumber": issuenumber }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                if (result == true) {
                    $("#radioButtonDiv").show();
                }
                else {
                    alert("not exist");
                    $("#radioButtonDiv").hide();
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function RetrieveitemList() {
        $.ajax({
            url: "/INV_Invoice/RetrieveItemList",
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: (function (result) {

                if (result.length > 0) {

                    $("#ddlItemList").empty();
                    $("#ddlItemList").append('<option value="0">Select Item</option>');
                    for (var i = 0; i < result.length; i++) {
                        var option = $("<option/>");
                        option.attr("value", result[i].ItemID).text(result[i].ItemName);
                        $("#ddlItemList").append(option);
                    }
                }
            }),
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function RetrieveUserList() {
        $.ajax({
            url: "/INV_ItemIssueReturn/RetrieveUserList",
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: (function (result) {

                if (result.length > 0) {

                    $("#ddlUserList").empty();
                    $("#ddlUserList").append('<option value="0">Select User</option>');
                    for (var i = 0; i < result.length; i++) {
                        var option = $("<option/>");
                        option.attr("value", result[i].UserID).text(result[i].UserName);
                        $("#ddlUserList").append(option);
                    }
                }
            }),
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    function GetForIssueItem() {

        var postData = {
            MainItemID: $('#ddlItemList').val(),
            //UserID: $('#ddlUserList').val(),
            RetrieveType: $('input[name=assign]:checked').val()
        };


        $.ajax({
            url: "/INV_ItemIssueReturn/Retrieve_INV_ItemConfiguration_List",
            data: JSON.stringify(postData),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                if ($('input[name=assign]:checked').val() == "True") {
                    $('#txtItemName').val(result.ItemName);
                    $('#txtQuantity').val(result.Qunatity);
                }
                else if ($('input[name=assign]:checked').val() == "False") {
                    $('#tbodyForAssmeble').html('');
                    var html = '';
                    var i = 1;
                    $.each(result, function (key, value) {
                        html += '<tr id=' + i + '>';
                        html += '<td><input type="checkbox" name="chkForAssmeble" value="' + result[key].SubItemID + '"></td>';
                        html += '<td>' + result[key].ItemName + '</td>';
                        html += '<td><input id="quantity' + i + '" type="text" class="form-control" value="' + result[key].Qunatity + '"/></td>';
                        html += '</tr>';
                        i++;
                    });
                    $('#tbodyForAssmeble').append(html);
                }

                //alert(result);
            },
            error: function (errormessage) {


            }
        });
    }

    function GetForReturnItem() {



        var postData = {
            MainItemID: $('#ddlItemList').val(),
            //UserID: $('#ddlUserList').val(),
            RetrieveType: $('input[name=rbtnItem]:checked').val()
        };


        $.ajax({
            url: "/INV_ItemIssueReturn/Retrieve_INV_ItemConfiguration_List",
            data: JSON.stringify(postData),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                if ($('input[name=rbtnItem]:checked').val() == "True") {
                    $('#txtReturnItemName').val(result.ItemName);
                    $('#txtReturnQuantity').val(result.Qunatity);
                }
                else if ($('input[name=rbtnItem]:checked').val() == "False") {
                    $('#tbodySubItem').html('');
                    var html = '';
                    var i = 1;
                    $.each(result, function (key, value) {
                        html += '<tr id=' + i + '>';
                        html += '<td><input type="checkbox" name="chkSubItem" value="' + result[key].SubItemID + '"></td>';
                        html += '<td>' + result[key].ItemName + '</td>';
                        html += '<td><input id="quantity' + i + '" type="text" class="form-control" value="' + result[key].Qunatity + '"/></td>';
                        html += '</tr>';
                        i++;
                    });
                    $('#tbodySubItem').append(html);
                }

                //alert(result);
            },
            error: function (errormessage) {


            }
        });
    }

    function SaveMainItem() {

        var postData = {
            MainItemID: $('#ddlItemList').val(),
            Qunatity: $('#txtReturnQuantity').val()

        };
        $.ajax({
            url: "/INV_ItemIssueReturn/SaveMainItem",
            data: JSON.stringify(postData),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                location.href = '@Url.Action("Return", "INV_ItemIssueReturn")';
                //location.reload();
                //alert(result);
            },
            error: function (errormessage) {


            }
        });
    }
    function SaveSubItem() {

        var itemList = [];
        $('#tableSubItem input:checked').each(function () {
            var checkbboxid = $(this).val();

            var tablerowid = $(this).closest('tr').attr('id');
            var quantityValue = $("#quantity" + tablerowid).val();
            itemList.push({

                SubItemID: checkbboxid,
                Qunatity: quantityValue
            });
        });

        $.ajax({
            url: "/INV_ItemIssueReturn/SaveSubItem",
            data: JSON.stringify(itemList),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                location.href = '@Url.Action("Return", "INV_ItemIssueReturn")';
                //location.reload();
                //itemList = [];
                //alert(result);
            },
            error: function (errormessage) {


            }
        });
    }

</script>
